#longMsg {
    margin-top:7px;
    font-size: 14px;
}

#shortMsg {
    margin-top:7px;
    font-size: 14px;
}

#visitorMsg {
    margin-top:7px;
    font-size: 14px;
}

.servermessages {
    margin-top:7px;
    font-size: 14px;
}