#longMsg {
    margin-top:7px;
    font-size: 14px;
}

#shortMsg {
    margin-top:7px;
    font-size: 14px;
}

#visitorMsg {
    margin-top:7px;
    font-size: 14px;
}

<<<<<<< HEAD
.servermessages {
    margin-top:7px;
    font-size: 14px;
}
=======
#reset {
    margin-top:5px;
    margin-left: 47.5%;
    width: 60px;
    color: white;
    text-align: center;
    padding: 4px;
    background: black;
    font-size: 20px;
}
>>>>>>> 9754fd3b3a969d1efc0627835894beea7c9d6381
